version: "3"
services:
  mysql:
    build:
      context: .
      dockerfile: Dockerfile.mysql
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: 1234
    volumes:
      - mysql_data:/var/lib/mysql 
    ports:
      - "3306:3306"
    networks:
      - app-network
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todoapp-container
    command: >
      sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8080"
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      DATABASE_HOST: mysql
      DATABASE_NAME: app_db
      DATABASE_USER: app_user
      DATABASE_PASSWORD: 1234
      DATABASE_PORT: 3306
    depends_on:
      - mysql
    networks:
      - app-network
volumes:
  mysql_data:
networks:
  app-network: